.input-search-button {
    display: flex;
    justify-content: center;
    align-items: center ;

    margin-top: 48px;
}

.input {
   width: 750px; 
   height: 60px;

   border-radius: 25px;
   border: none;
   outline: none;

   text-align: center;
   font-size: 25px;
   font-weight: 400;

   margin-right: 22px;
}

.button-search {
     width: 45px;
     height: 45px;

     border-radius: 100px;
     border: none;

     cursor: pointer;
}

.icon-search {
    width: 25px; 
    height: 25px;
}