@media screen and (max-width: 414px) {
    header {
        height: 59px;    
    }
    
    h1 {    
        width: 168px;
        height: 28px;

        font-size: 16px;
    }

    .icon {
        width: 30px;
        height: 30px;

        margin-left: 22px;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    header {
        height: auto;   
    }
    
    h1 {    
        width: 193px;
        height: 43px;

        font-size: 20px;
    }

    .icon {
        width: 40px;
        height: 40px;

        margin-left: 22px;
    }
}