@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

}

body {
    background-color: #858585;

    height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-found {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 43px;

    background-color: #232020;

    font-size: 12px;
    color: #fff;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}